@import "./_nullstyle.scss"; //обнуляющий стиль
@import "./_calculator.scss"; //калькулятор

body {
  background: url(../img/background.png) 0 0/100% no-repeat #e5e5e5;
}
.header {
  &__box {
    max-width: 1119px;
    margin: 104px 0 680px 289px;
  }
  &__top {
    display: flex;
    align-items: center;
    column-gap: 260px;
    margin: 0 0 90px 0;
  }
  &__btn > a {
    margin: 0 97px 0 0;
    color: #fff;
    line-height: rem(18);
    font-weight: 700;
  }
  &__btn-red {
    padding: 20px;
    background-color: red;
    border-radius: 5px;
  }
  &__btn > a:last-child {
    margin: 0;
  }

  &__title {
    color: #fff;
    font-weight: 400;
    font-size: rem(100);
    line-height: em(100, 100);
    margin-bottom: 81px;
    max-width: 660px;
  }

  &__link-box > a {
    background: url(../img/Union.png) 90% 50% no-repeat red;
    border-radius: 5px;
    display: inline-block;
    padding: 20px 80px 20px 20px;
    color: #fff;
  }
}

.main {
  &__image {
    max-width: 100%;
  }
  &__cards {
    max-width: 1130px;
    margin: 0 auto;
    margin-bottom: 272px;
  }
  &__flex {
    display: flex;
    align-items: center;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__text {
    max-width: 470px;
    font-weight: 300;
    font-size: rem(18);
    line-height: em(40, 18);
    color: #402b2b;
    opacity: 0.5;
    margin: 0 0 70px 0;
  }
  &__coltext {
    font-weight: 500;
    font-size: rem(24);
    line-height: em(36, 24);
    padding: 30px 55px;
    color: #402b2b;
    background: #f0e9e7;
    border-left: solid 10px #ee4d47;
    border-radius: 5px;
  }
}
.spoiler {
  background: url(../img/background2.png) top right/70% 100% no-repeat;
  padding: 220px 0 0 100px;
  margin: 0 0 200px 0;
  &__box {
    max-width: 1100px;
    margin: 0 auto;
  }
  &__content {
    max-width: 550px;
    font-weight: 400;
    font-size: rem(48);
    margin: 44px 0 169px 0;
  }
  &__rol {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__title {
    width: 430px;
    box-shadow: 0px 0px 10px #e7adab;
    font-weight: 500;
    font-size: rem(18);
    line-height: em(30, 18);
    background: url(../img/+.png) 95% 50% no-repeat #fff;
    padding: 25px 70px 25px 25px;
    border-radius: 5px;
  }
  &__text {
    width: 430px;
    display: none;
    font-weight: 300;
    font-size: rem(18);
    line-height: em(30, 18);
    background-color: rgb(255, 247, 245);
    opacity: 0.5;
    padding: 35px;
  }
}
.title {
  color: #ee4d47;
  font-weight: 700;
  font-size: rem(24);
  line-height: em(40, 24);
  text-transform: uppercase;
}
.slick {
  margin-left: 240px;
  margin-bottom: 160px;
  display: flex;

  &__text {
    font-weight: 400;
    font-size: rem(47);
    line-height: 140%;
  }
}
.slider {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  &__item {
    background-color: #fff;
    max-height: 360px;
    max-width: 420px;
    padding: 50px;
    border-radius: 7px;
  }
  &__text {
    margin-bottom: 60px;
    color: #402b2b;
  }
  &__name {
    margin: 20px 0 0 20px;
    font-weight: 700;
  }
}
.lol {
  display: flex;
}

.footer {
  background: url(../img/background3.png) 0 0/90% 100% no-repeat;
  &__box {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 0;
  }
  &__top {
    display: flex;
  }
  &__t {
    align-self: flex-end;
  }
  &__text {
    font-weight: 500;
    font-size: rem(20);
    line-height: em(30, 20);
    padding: 30px 55px;
    color: #fff;
    border-left: solid 10px #ee4d47;
    border-radius: 5px;
    max-width: 380px;
    margin-right: 100px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 440px;
    background-color: #fff;
    border-radius: 6px;
    padding: 52px 75px;
  }
  &__p {
    opacity: 0.5;
  }
  &__name {
    margin: 15px 0 30px 0;
    padding: 11px 40px;
    width: 400px;
    height: 54px;
    border: solid 2px #ee4d47;
    border-radius: 6px;
  }
  &__email {
    margin: 15px 0 30px 0;
    padding: 11px 40px;
    width: 400px;
    height: 54px;
    border: solid 2px #ee4d47;
    border-radius: 6px;
  }
  &__getstart > a {
    color: #fff;
    line-height: rem(18);
    font-weight: 700;
    background: url(../img/Union.png) 90% 50% no-repeat red;
    border-radius: 5px;
    display: inline-block;
    padding: 20px 80px 20px 20px;
    color: #fff;
  }
  &__midle {
    display: flex;
    align-items: center;
    column-gap: 400px;
    margin: 180px 0 100px 0;
  }

  &__btn > a {
    margin: 0 97px 0 0;
    color: #fff;
    line-height: rem(18);
    font-weight: 700;
  }
  &__bottom {
    margin: 83px 0 0 0;
    width: 1100px;
    margin: 0 auto;
    padding: 60px 0;
  }
  &__bot {
    margin-right: 729px;
  }
}
@media (max-width: 1380px) {
  .header {
    &__box {
      margin: 104px 0 680px 200px;
    }
    &__btn > a {
      margin: 0 66px 0 0;
    }
  }
}
@media (max-width: 1200px) {
  .header {
    &__top {
      column-gap: 50px;
    }
    &__box {
      margin: 104px 0 400px 100px;
    }

    &__btn > a {
      margin: 0 22px 0 0;
    }
    &__title {
      font-size: rem(50);
      line-height: em(100, 100);
    }
  }
  .main {
    padding: 0px 40px;
    &__flex {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .spoiler {
    padding: 100px 0 0 50px;
    margin: 0 0 150px 0;
    &__rol {
      justify-content: center;
    }
  }
  .slick {
    margin-left: 120px;
    margin-bottom: 80px;
    &__text {
      font-size: rem(32);
    }
  }
  .footer {
    &__top {
      justify-content: center;
    }
    &__form {
      width: 360px;
      padding: 30px;
    }
    &__name {
      width: 300px;
    }
    &__email {
      width: 300px;
    }
    &__btn > a {
      margin: 0 37px 0 0;
    }
    &__midle {
      column-gap: 200px;
    }
    &__bottom {
      width: 700px;
    }
    &__bot {
      margin-right: 200px;
    }
  }
}

@media (max-width: 900px) {
  .footer__text {
    display: none;
  }
  .slick {
    display: none;
  }
}
